<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RuizPereira</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortifolioRuizPereira.styles.css" asp-append-version="true" />
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="10" tabindex="0">
    <header>
        <nav id="navbar" class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ruiz Pereira</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#main">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#about">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#tecnologias">Tecnologias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#portifolio">Projetos Em Destaque</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#talk">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PortifolioRuizPereira - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    var scrollSpy = new bootstrap.ScrollSpy(document.body, {
        target: '#navbar'
    })
</script>